body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: blueviolet;
    color: antiquewhite;
    font-family: Arial;
    margin: 0px;
}

main {
    margin: 0px;
    font-family: Arial;
}

footer {
    background-color: bisque;
    color: brown;
    font-family: Arial;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: underline;
    color: blueviolet;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
}

a:visited {
    text-decoration: underline;
    background-color: rgb(230, 215, 215);
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    color: black;
}

a:hover {
    text-decoration: double;
    box-shadow: 10px 10px 5px #002;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkolivegreen;
}

a:active {
    color: black;
    opacity: 0.3;
}