body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: blueviolet;
    color: antiquewhite;
    font-family: Arial;
    margin: 0px;
}

main {
    margin: 0px;
    font-family: Arial;
}

footer {
    background-color: bisque;
    color: brown;
    font-family: Arial;
}

a {
    text-decoration: none;
}